body{
    text-align:center;
    font-family:Arial;
    background:#f2d8a7;
}
p{
    height: 50px;
    width: 100px;  
}

h1{
    font-size:40px;
}

#cookie{
    font-size:80px;
    cursor:pointer;
}

button{
    padding:10px 10px;
    font-size:16px;
    margin:10px;
}

.shop{
    margin-top:30px;
    border: solid;
    height: 300px;
    width: 200px;
    position: absolute;
    right: 50px;
    top: 150px;
}

.box{
    height: 200px;
    width: 200px;
    background: #1c1f2b;
    position: relative;
}
.card::after, .card::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  animation: 3s spin linear infinite;
}
.card::before{
  filter: blur(1.5rem);
  opacity: 0.5;
}
@keyframes spin{
  from{
    --angle: 0deg;
  }
  to{
    --angle: 360deg;
  }
}

#cookieZone{
    text-align:center;
    margin-top:40px;
}

#cookieZone img{
    width:120px;
    margin:10px;
}

.fallingCookie{
    position: absolute;
    width: 40px;
    animation: fall 2s linear forwards;
}

@keyframes fall{
    from{
        transform: translateY(-50px);
        opacity:1;
    }

    to{
        transform: translateY(600px);
        opacity:0;
    }
}